body{
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f0f0f0;
    font-family: Montserrat Medium;
    font-size: 16px;
    overflow: hidden;
    color: #333;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    height: auto;
    width: 380px;
    padding-bottom: 0px;
    object-fit: fill;
}

form {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    margin: 100px auto;
    max-width: 35%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


input[type="number"] {
    width: 100%;
    margin: 15px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-size: 14px;
    font-family: montserrat light;
    font-weight: bold;
    text-align: center;
}
input[type="submit"] {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4c53af;
    color: #fff;
    font-size: 16px;
    font-family: montserrat light;
    font-weight: bold;
    cursor: pointer;
}

h1, h2 {
    text-align: center;
    color: #4c53af;
}

h2 {
    margin-top: 30px;
    font-size: 26px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    width: 37%; 
    margin: 0 auto;
}

p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

footer {
    font-family: montserrat light;
    background-color: #4c53af;
    color: #fff;
    font-size: 10px;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.container {
    font-size: 10px;
    padding-bottom: 15px;
    opacity: 50%;
    max-width: 500px;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .footer {
        display: none;
    }
}

@media (max-width: 600px) {
    .container {
        display: none;
    }
}
